In [1]:
import numpy as np
import pandas as pd

import matplotlib as mpl
import matplotlib.pyplot as plt

%matplotlib inline

In [3]:
nba_data_list = pd.read_html("https://www.basketball-reference.com/draft/NBA_2019.html") 
type(nba_data_list)
len(nba_data_list)

1

In [9]:
nba_df = nba_data_list[0]
nba_df

   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                   Rk                 Pk                 Tm
0                   1                  1                NOP
1                   2                  2                MEM
2                   3                  3                NYK
3                   4                  4                LAL
4                   5                  5                CLE
5                   6                  6                PHO
6                   7                  7                CHI
7                   8                  8                ATL
8                   9                  9                WAS
9                  10                 10                ATL
10                 11                 11                MIN
11                 12                 12                CHO
12                 13                 13                MIA
13                 14                 14                BOS
14                 15                 15                DET
15                 16                 16                ORL
16                 17                 17                BRK
17                 18                 18                IND
18                 19                 19                SAS
19                 20                 20                BOS
20                 21                 21                OKC
21                 22                 22                BOS
22                 23                 23                UTA
23                 24                 24                PHI
24                 25                 25                POR
25                 26                 26                CLE
26                 27                 27                BRK
27                 28                 28                GSW
28                 29                 29                SAS
29                 30                 30                MIL
..                ...                ...                ...
32                 31                 31                BRK
33                 32                 32                PHO
34                 33                 33                PHI
35                 34                 34                PHI
36                 35                 35                ATL
37                 36                 36                CHO
38                 37                 37                DAL
39                 38                 38                CHI
40                 39                 39                NOP
41                 40                 40                SAC
42                 41                 41                GSW
43                 42                 42                PHI
44                 43                 43                MIN
45                 44                 44                MIA
46                 45                 45                DET
47                 46                 46                ORL
48                 47                 47                SAC
49                 48                 48                LAC
50                 49                 49                SAS
51                 50                 50                IND
52                 51                 51                BOS
53                 52                 52                CHO
54                 53                 53                UTA
55                 54                 54                PHI
56                 55                 55                NYK
57                 56                 56                LAC
58                 57                 57                NOP
59                 58                 58                GSW
60                 59                 59                TOR
61                 60                 60                SAC

                     Round 1                        Unnamed: 5_level_0 Totals  \
                      Player                College                Yrs      G
0            Zion Williamson                   Duke                  1     19
1                  Ja Morant           Murray State                  1     59
2                 RJ Barrett                   Duke                  1     56
3            De'Andre Hunter               Virginia                  1     63
4             Darius Garland             Vanderbilt                  1     59
5             Jarrett Culver             Texas Tech                  1     63
6                 Coby White                    UNC                  1     65
7               Jaxson Hayes                  Texas                  1     56
8              Rui Hachimura                Gonzaga                  1     41
9                Cam Reddish                   Duke                  1     58
10           Cameron Johnson                    UNC                  1     49
11             PJ Washington               Kentucky                  1     58
12               Tyler Herro               Kentucky                  1     47
13            Romeo Langford                Indiana                  1     27
14           Sekou Doumbouya                    NaN                  1     38
15               Chuma Okeke                 Auburn                NaN    NaN
16  Nickeil Alexander-Walker          Virginia Tech                  1     41
17              Goga Bitadze                    NaN                  1     49
18              Luka Šamanić                    NaN                  1      1
19          Matisse Thybulle             Washington                  1     57
20            Brandon Clarke                Gonzaga                  1     50
21            Grant Williams              Tennessee                  1     62
22             Darius Bazley                    NaN                  1     53
23                 Ty Jerome               Virginia                  1     28
24             Nassir Little                    UNC                  1     48
25             Dylan Windler                Belmont                NaN    NaN
26         Mfiondu Kabengele          Florida State                  1     12
27              Jordan Poole               Michigan                  1     57
28            Keldon Johnson               Kentucky                  1      9
29              Kevin Porter                    USC                  1     50
..                       ...                    ...                ...    ...
32           Nicolas Claxton                Georgia                  1     15
33                 KZ Okpala               Stanford                  1      5
34            Carsen Edwards                 Purdue                  1     35
35            Bruno Fernando               Maryland                  1     56
36      Marcos Louzada Silva                    NaN                NaN    NaN
37               Cody Martin                 Nevada                  1     48
38         Deividas Sirvydis                    NaN                NaN    NaN
39            Daniel Gafford               Arkansas                  1     43
40            Alen Smailagić                    NaN                  1     14
41              Justin James                Wyoming                  1     34
42             Eric Paschall              Villanova                  1     60
43         Admiral Schofield              Tennessee                  1     27
44             Jaylen Nowell             Washington                  1     15
45                   Bol Bol                 Oregon                NaN    NaN
46               Isaiah Roby               Nebraska                  1      3
47       Talen Horton-Tucker             Iowa State                  1      2
48          Ignas Brazdeikis               Michigan                  1      9
49              Terance Mann          Florida State                  1     35
50    Quinndary Weatherspoon      Mississippi State                  1      3
51          Jarrell Brantley  College of Charleston                  1      5
52            Tremont Waters                    LSU                  1     10
53           Jalen McDaniels        San Diego State                  1     16
54     Justin Wright-Foreman                Hofstra                  1      1
55             Marial Shayok             Iowa State                  1      2
56                  Kyle Guy               Virginia                  1      2
57              Jaylen Hands                   UCLA                NaN    NaN
58               Jordan Bone              Tennessee                  1     10
59                  Miye Oni                   Yale                  1      5
60           Dewan Hernandez             Miami (FL)                  1      4
61          Vanja Marinković                    NaN                NaN    NaN

                     ... Shooting        Per Game                 Advanced  \
      MP   PTS  TRB  ...      3P%    FT%       MP   PTS  TRB  AST       WS
0    565   448  129  ...     .462   .645     29.7  23.6  6.8  2.2      1.8
1   1771  1041  208  ...     .367   .770     30.0  17.6  3.5  6.9      3.4
2   1704   803  279  ...     .320   .614     30.4  14.3  5.0  2.6     -0.5
3   2018   778  286  ...     .355   .764     32.0  12.3  4.5  1.8      0.1
4   1824   728  111  ...     .355   .875     30.9  12.3  1.9  3.9     -1.3
5   1506   580  212  ...     .299   .462     23.9   9.2  3.4  1.7     -0.1
6   1674   859  230  ...     .354   .791     25.8  13.2  3.5  2.7      0.9
7    951   420  223  ...     .250   .630     17.0   7.5  4.0  0.9      3.5
8   1217   548  248  ...     .274   .829     29.7  13.4  6.0  1.7      1.7
9   1551   610  216  ...     .332   .802     26.7  10.5  3.7  1.5     -0.4
10   996   398  140  ...     .397   .761     20.3   8.1  2.9  1.1      1.8
11  1759   710  316  ...     .374   .647     30.3  12.2  5.4  2.1      2.0
12  1280   605  187  ...     .391   .835     27.2  12.9  4.0  1.9      0.9
13   298    69   32  ...     .217   .696     11.0   2.6  1.2  0.2      0.2
14   754   243  118  ...     .286   .674     19.8   6.4  3.1  0.5     -0.3
15   NaN   NaN  NaN  ...      NaN    NaN      NaN   NaN  NaN  NaN      NaN
16   501   211   80  ...     .342   .607     12.2   5.1  2.0  1.8     -0.4
17   410   152   96  ...     .167   .727      8.4   3.1  2.0  0.4      0.6
18    12     0    2  ...     .000    NaN     12.0   0.0  2.0  3.0     -0.1
19  1110   267   86  ...     .352   .610     19.5   4.7  1.5  1.2      1.9
20  1086   602  292  ...     .404   .785     21.7  12.0  5.8  1.4      4.4
21   970   218  165  ...     .247   .725     15.6   3.5  2.7  1.0      1.5
22   909   238  196  ...     .300   .681     17.2   4.5  3.7  0.5      0.4
23   315    98   41  ...     .277   .786     11.3   3.5  1.5  1.5      0.0
24   573   172  108  ...     .237   .636     11.9   3.6  2.3  0.5      0.6
25   NaN   NaN  NaN  ...      NaN    NaN      NaN   NaN  NaN  NaN      NaN
26    64    42   11  ...     .450  1.000      5.3   3.5  0.9  0.2      0.2
27  1274   503  118  ...     .279   .798     22.4   8.8  2.1  2.4     -1.2
28    92    41   17  ...     .400   .700     10.2   4.6  1.9  0.7      0.2
29  1162   498  162  ...     .335   .723     23.2  10.0  3.2  2.2      0.3
..   ...   ...  ...  ...      ...    ...      ...   ...  ...  ...      ...
32   187    66   44  ...     .143   .524     12.5   4.4  2.9  1.1      0.5
33    26     7    5  ...     .000   .500      5.2   1.4  1.0  0.2      0.1
34   316   106   43  ...     .309   .846      9.0   3.0  1.2  0.6      0.1
35   713   240  198  ...     .135   .569     12.7   4.3  3.5  0.9      0.8
36   NaN   NaN  NaN  ...      NaN    NaN      NaN   NaN  NaN  NaN      NaN
37   903   238  158  ...     .234   .646     18.8   5.0  3.3  2.0      1.0
38   NaN   NaN  NaN  ...      NaN    NaN      NaN   NaN  NaN  NaN      NaN
39   609   220  106  ...      NaN   .533     14.2   5.1  2.5  0.5      1.8
40   139    59   27  ...     .231   .842      9.9   4.2  1.9  0.9      0.2
41   218    85   30  ...     .346   .476      6.4   2.5  0.9  0.5      0.2
42  1654   837  275  ...     .287   .774     27.6  14.0  4.6  2.1      2.1
43   293    83   34  ...     .298   .692     10.9   3.1  1.3  0.5      0.1
44   151    57   13  ...     .115   .941     10.1   3.8  0.9  1.3      0.2
45   NaN   NaN  NaN  ...      NaN    NaN      NaN   NaN  NaN  NaN      NaN
46    11     0    2  ...      NaN    NaN      3.7   0.0  0.7  0.0      0.0
47     5     0    0  ...     .000    NaN      2.5   0.0  0.0  1.0      0.0
48    53    17    5  ...     .111   .800      5.9   1.9  0.6  0.4     -0.1
49   271    56   33  ...     .250   .750      7.7   1.6  0.9  1.1      0.3
50    15     0    1  ...     .000    NaN      5.0   0.0  0.3  0.3     -0.1
51    13     0    5  ...      NaN    NaN      2.6   0.0  1.0  0.2      0.0
52    89    33    9  ...     .176  1.000      8.9   3.3  0.9  1.2     -0.1
53   293    89   65  ...     .375   .824     18.3   5.6  4.1  0.8      0.5
54     2     0    0  ...      NaN    NaN      2.0   0.0  0.0  0.0      0.0
55    10     3    3  ...     .333    NaN      5.0   1.5  1.5  0.5      0.0
56     4     2    0  ...     .000    NaN      2.0   1.0  0.0  0.0      0.0
57   NaN   NaN  NaN  ...      NaN    NaN      NaN   NaN  NaN  NaN      NaN
58    53    12    4  ...     .200    NaN      5.3   1.2  0.4  0.8     -0.1
59    11     0    2  ...     .000    NaN      2.2   0.0  0.4  0.0     -0.1
60    11     4    7  ...     .000  1.000      2.8   1.0  1.8  0.0      0.0
61   NaN   NaN  NaN  ...      NaN    NaN      NaN   NaN  NaN  NaN      NaN


    WS/48    BPM  VORP
0    .149    2.4   0.6
1    .093    0.4   1.1
2   -.015   -4.3  -1.0
3    .001   -4.7  -1.4
4   -.035   -5.6  -1.7
5   -.004   -4.0  -0.8
6    .026   -2.8  -0.3
7    .176    0.1   0.5
8    .066   -3.0  -0.3
9   -.011   -4.2  -0.9
10   .086   -0.2   0.5
11   .054   -1.6   0.2
12   .033   -2.3  -0.1
13   .039   -4.6  -0.2
14  -.020   -6.7  -0.9
15    NaN    NaN   NaN
16  -.034   -4.9  -0.4
17   .069   -2.5   0.0
18  -.252  -11.9   0.0
19   .084    0.1   0.6
20   .192    3.5   1.5
21   .075   -2.6  -0.1
22   .019   -2.5  -0.1
23  -.002   -3.8  -0.1
24   .050   -3.5  -0.2
25    NaN    NaN   NaN
26   .175    2.1   0.1
27  -.047   -6.6  -1.5
28   .119   -0.9   0.0
29   .011   -3.7  -0.5
..    ...    ...   ...
32   .124   -0.7   0.1
33   .119    2.7   0.0
34   .012   -4.9  -0.2
35   .055   -4.1  -0.4
36    NaN    NaN   NaN
37   .052   -2.1   0.0
38    NaN    NaN   NaN
39   .146   -1.3   0.1
40   .081   -2.1   0.0
41   .037   -0.7   0.1
42   .062   -2.7  -0.3
43   .020   -5.3  -0.2
44   .051   -3.7  -0.1
45    NaN    NaN   NaN
46  -.191  -15.5   0.0
47   .110    7.8   0.0
48  -.109   -8.9  -0.1
49   .057   -3.5  -0.1
50  -.197  -15.1  -0.1
51  -.053   -2.7   0.0
52  -.045   -6.5  -0.1
53   .078   -3.3  -0.1
54   .010   -7.0   0.0
55  -.227  -11.3   0.0
56  -.022   -4.1   0.0
57    NaN    NaN   NaN
58  -.118  -11.9  -0.1
59  -.285  -17.3   0.0
60   .003  -21.3  -0.1
61    NaN    NaN   NaN

[62 rows x 22 columns]

In [10]:
nba_df.columns = ['Rk', 'Pk', 'Tm','Player','College', 'Yrs','G', 'MP', 'PTS','TRB','AST','FG%', 
                    '3P%', 'FT%', 'MP', 'PTS', 'TRB', 'AST', 'WS', 'WS/48', 'BPM', 'VORP'] 

nba_df.head()

,Rk,Pk,Tm,Player,College,Yrs,G,MP,PTS,TRB,...,3P%,FT%,MP,PTS,TRB,AST,WS,WS/48,BPM,VORP
0,1,1,NOP,Zion Williamson,Duke,1,19,565,448,129,...,.462,.645,29.7,23.6,6.8,2.2,1.8,.149,2.4,0.6
1,2,2,MEM,Ja Morant,Murray State,1,59,1771,1041,208,...,.367,.770,30.0,17.6,3.5,6.9,3.4,.093,0.4,1.1
2,3,3,NYK,RJ Barrett,Duke,1,56,1704,803,279,...,.320,.614,30.4,14.3,5.0,2.6,-0.5,-.015,-4.3,-1.0
3,4,4,LAL,De'Andre Hunter,Virginia,1,63,2018,778,286,...,.355,.764,32.0,12.3,4.5,1.8,0.1,.001,-4.7,-1.4
4,5,5,CLE,Darius Garland,Vanderbilt,1,59,1824,728,111,...,.355,.875,30.9,12.3,1.9,3.9,-1.3,-.035,-5.6,-1.7

In [11]:
nba_df.loc[28:34]

,Rk,Pk,Tm,Player,College,Yrs,G,MP,PTS,TRB,...,3P%,FT%,MP,PTS,TRB,AST,WS,WS/48,BPM,VORP
28,29,29,SAS,Keldon Johnson,Kentucky,1,9,92,41,17,...,.400,.700,10.2,4.6,1.9,0.7,0.2,.119,-0.9,0.0
29,30,30,MIL,Kevin Porter,USC,1,50,1162,498,162,...,.335,.723,23.2,10.0,3.2,2.2,0.3,.011,-3.7,-0.5
30,NaN,NaN,NaN,Round 2,Round 2,NaN,Totals,Totals,Totals,Totals,...,Shooting,Shooting,Per Game,Per Game,Per Game,Per Game,Advanced,Advanced,Advanced,Advanced
31,Rk,Pk,Tm,Player,College,Yrs,G,MP,PTS,TRB,...,3P%,FT%,MP,PTS,TRB,AST,WS,WS/48,BPM,VORP
32,31,31,BRK,Nicolas Claxton,Georgia,1,15,187,66,44,...,.143,.524,12.5,4.4,2.9,1.1,0.5,.124,-0.7,0.1
33,32,32,PHO,KZ Okpala,Stanford,1,5,26,7,5,...,.000,.500,5.2,1.4,1.0,0.2,0.1,.119,2.7,0.0
34,33,33,PHI,Carsen Edwards,Purdue,1,35,316,106,43,...,.309,.846,9.0,3.0,1.2,0.6,0.1,.012,-4.9,-0.2

In [12]:
nba_df.drop([30,31], axis=0, inplace=True)
nba_df.loc[28:34]

,Rk,Pk,Tm,Player,College,Yrs,G,MP,PTS,TRB,...,3P%,FT%,MP,PTS,TRB,AST,WS,WS/48,BPM,VORP
28,29,29,SAS,Keldon Johnson,Kentucky,1,9,92,41,17,...,.400,.700,10.2,4.6,1.9,0.7,0.2,.119,-0.9,0.0
29,30,30,MIL,Kevin Porter,USC,1,50,1162,498,162,...,.335,.723,23.2,10.0,3.2,2.2,0.3,.011,-3.7,-0.5
32,31,31,BRK,Nicolas Claxton,Georgia,1,15,187,66,44,...,.143,.524,12.5,4.4,2.9,1.1,0.5,.124,-0.7,0.1
33,32,32,PHO,KZ Okpala,Stanford,1,5,26,7,5,...,.000,.500,5.2,1.4,1.0,0.2,0.1,.119,2.7,0.0
34,33,33,PHI,Carsen Edwards,Purdue,1,35,316,106,43,...,.309,.846,9.0,3.0,1.2,0.6,0.1,.012,-4.9,-0.2

In [29]:
imdb_top250 = pd.read_html("https://www.imdb.com/chart/top?ref_=nv_wl_img_3")[0]
imdb_top250.head()

,Unnamed: 0,Rank & Title,IMDb Rating,Your Rating,Unnamed: 4
0,NaN,1. The Shawshank Redemption (1994),9.2,12345678910 NOT YET RELEASED Seen,NaN
1,NaN,2. The Godfather (1972),9.1,12345678910 NOT YET RELEASED Seen,NaN
2,NaN,3. The Godfather: Part II (1974),9.0,12345678910 NOT YET RELEASED Seen,NaN
3,NaN,4. The Dark Knight (2008),9.0,12345678910 NOT YET RELEASED Seen,NaN
4,NaN,5. 12 Angry Men (1957),8.9,12345678910 NOT YET RELEASED Seen,NaN

In [30]:
del imdb_top250['Unnamed: 0']
del imdb_top250['Unnamed: 4']
del imdb_top250['Your Rating']

In [31]:
imdb_top250.head()

                           Rank & Title  IMDb Rating
0  1.  The Shawshank Redemption  (1994)          9.2
1             2.  The Godfather  (1972)          9.1
2    3.  The Godfather: Part II  (1974)          9.0
3           4.  The Dark Knight  (2008)          9.0
4              5.  12 Angry Men  (1957)          8.9

In [32]:
imdb_top250['Year'] = imdb_top250['Rank & Title'].str[-5:-1] # take the Year out of the Rank&Title Column
imdb_top250['Rank & Title'] = imdb_top250['Rank & Title'].str[0:-6]
imdb_top250.head()

                     Rank & Title  IMDb Rating  Year
0  1.  The Shawshank Redemption            9.2  1994
1             2.  The Godfather            9.1  1972
2    3.  The Godfather: Part II            9.0  1974
3           4.  The Dark Knight            9.0  2008
4              5.  12 Angry Men            8.9  1957

In [34]:
imdb_top250['Ranking'] = imdb_top250['Rank & Title'].str.extract('(\d{1,4}).\ ')
imdb_top250['Title'] = imdb_top250['Rank & Title'].str.extract('\d{1,4}.\ (.*)')
imdb_top250.drop(['Rank & Title'], axis=1, inplace=True)
imdb_top250.head()

   IMDb Rating  Year Ranking                        Title
0          9.2  1994       1   The Shawshank Redemption
1          9.1  1972       2              The Godfather
2          9.0  1974       3     The Godfather: Part II
3          9.0  2008       4            The Dark Knight
4          8.9  1957       5               12 Angry Men

In [36]:
imdb_2010 = imdb_top250[imdb_top250['Year'] == '2010']
imdb_2010_sorted = imdb_2010.sort_values('IMDb Rating', ascending=False)
imdb_2010_sorted

     IMDb Rating  Year Ranking                        Title
12           8.7  2010      13                  Inception
109          8.2  2010     110                Toy Story 3
116          8.2  2010     117                  Incendies
158          8.1  2010     159             Shutter Island
197          8.1  2010     198   How to Train Your Dragon

In [37]:
# aggregate the highest average rankings for each year
movies_by_year = imdb_top250.groupby('Year').mean()
# Highest ranked year
movies_by_year.loc[movies_by_year['IMDb Rating'].idxmax()]

IMDb Rating    9.1
Name: 1972, dtype: float64

In [39]:
print(movies_by_year.tail())
print(movies_by_year.head())

      IMDb Rating
Year
2016     8.140000
2017     8.133333
2018     8.280000
2019     8.242857
2020     8.600000
      IMDb Rating
Year
1921          8.2
1924          8.1
1925          8.1
1926          8.1
1927          8.2

In [40]:
movies_by_year.describe()

       IMDb Rating
count    84.000000
mean      8.265043
std       0.178425
min       8.000000
25%       8.138333
50%       8.246429
75%       8.320000
max       9.100000